---
layout: pages
permalink: /blog
title: Blog
---

<div class="container">
    <h2 class="name shadow">
        <p>
            En este espacio iré hablando de las cosas que me llamen la atención del mundo de la tecnología desde mi
            punto de vista y de una personal.
        </p>
        <p>
            También escribiré sobre mis proyectos, actualmente estoy trabajando en desarrollo web
            y de aplicaciones móviles así como diseño e impresión 3D.
        </p>
    </h2>
    <div class="row card-deck">
        {% for post in site.posts %}
        {% include card.html %}
        {% endfor %}
    </div>
</div>