<script src="https://kit.fontawesome.com/a9d5035d99.js"></script>
<script language="javascript" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
<script language="javascript" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript"
    src="https://cdn.rawgit.com/jwagner/simplex-noise.js/87440528bcf8ec89840e974d8f76cfe3da548c37/simplex-noise.min.js"></script>
<script language="javascript" type="text/javascript" src="{{site.url}}{{site.baseurl}}/assets/js/sketch.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/swup.min.js"></script>
<script>
  const swup = new Swup(); // only this line when included with script tag
</script>
