h1,
h2,
h3,
h4,
p,
a,
label {
  font-family: sans-serif;
}

.text-blak {
  color: #000000;
}
.text-white {
  color: #ffffff;
}
.text-right {
  text-align: right;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
